.main_content .main_content_table {
    width: 658px;
}
.main_content .main_content_table th,
.main_content .main_content_table td {
    vertical-align: middle;
}
thead th {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.table_col_good {
    width: 300px;
}
.table_col_price {
    text-align: center;
    width: 110px;
}
.table_col_numberof {
    text-align: center;
}
.table_numberof_minus,
.table_numberof_plus {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #665950;
    cursor: pointer;
}
.table_col_cost {
    text-align: center;
    width: 95px;
}
.del_row {
    width: 15px;
    border: none !important;
}
.del_row_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url("../images/remove.png") no-repeat 50% 50%;
}
.table_summary td {
    font-size: 16px;
    font-weight: bold;
}
.table-hover > tbody > .table_summary:hover {
    background: none;
}
