body {
    background: url("../images/background.png");
}
li {
    list-style: none;
}
i {
    display: inline-block;
}
.layout_positioner {
    display: block;
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
header, .main, .main_bottom_menu {
    background-color: #f8f8f8;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.icon {
    float: left;
}
.divider {
    margin: 10px 0 10px 0;
}

                        /*CSS for header*/

header {
    display: block;
    height: 174px;
}
.header_menu {
    background-color: #4f4f4f;
    height: 48px;
}
.header_links {
    display: inline-block;
    width: 639px;
    margin: 15px 0 15px 31px;
}
.header_menu li {
    display: inline-block;
    margin-right: 27px;
}
.header_menu a {
    color: #fff;
}
.header_menu a:hover {
    color: #fff;
}
.header_search {
    position: relative;
    float: right;
    width: 230px;
    margin: 11px 30px 11px 0;
}
.header_search_area {
    position: relative;
    border: 1px solid #b3b4b5;
    border-radius: 2px;
}
.header_search input {
    width: 228px;
    height: 22px;
    border: none;
    background-color: #eff0f2;
    padding-left: 15px;
}
.header_search_image {
    position: absolute;
    top: 6px;
    right: 4px;
    width: 14px;
    height: 14px;
    background: url("../images/search.png") no-repeat;
    opacity: 0.5;
}
.header_content {
    position: relative;
    height: 126px;
}
.header_logo {
    display: block;
    float: left;
    width: 305px;
    height: 126px;
    background: url("../images/logo.png") no-repeat 30px 8px;
}
.header_contacts {
    float: left;
    height: 84px;
    width: 377px;
    padding-top: 42px;
    padding-left: 18px;
    color: #4f4f4f;
}
.header_contacts_numbers {
    font-size: 22px;
}
.header_contacts_numbers span {
    color: #da501a;
}
.hc_numbers_icon {
    margin-top: 4px;
    margin-right: 10px;
    width: 14px;
    height: 18px;
    background: url("../images/phone.png") no-repeat 50% 50%;
}
.header_contacts_mail {
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.header_contacts_mail a {
    color: #000;
}
div.modal.in {
    margin: auto;
    padding-right: 0 !important;
}
.modal-body form {
    margin-bottom: 0;
}
.modal-body input {
    margin-bottom: 5px;
}
.modal-body textarea {
}
.hc_mail_icon {
    margin-right: 8px;
    width: 16px;
    height: 18px;
    background: url("../images/mail.png") no-repeat 50% 50%;
}
.header_contacts_icq {
    display: inline-block;
    font-size: 14px;
}
.hc_icq_icon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background: url("../images/icq.png") no-repeat 50% 50%;
}
.header_personal {
    float: left;
    width: 260px;
    height: 84px;
    margin-left: 18px;
    padding-top: 42px;
}
.header_personal_basket {
    font-size: 14px;
    color: #727272;
    margin-top: 5px;
}
.hp_basket_icon {
    margin-right: 8px;
    width: 15px;
    height: 15px;
    background: url("../images/basket.png") no-repeat 50% 50%;
}
.header_personal_account {
    margin-top: 14px;
}
.hp_account_icon {
    margin-right: 8px;
    width: 16px;
    height: 15px;
    background: url("../images/personal_account.png") no-repeat 50% 50%;
}
.header_personal a {
    color: #da501a;
}

                        /*CSS for main*/

.main {
    margin-top: 8px;
    padding: 30px;
}
.main_leftmenu {
    float: left;
    width: 210px;
}
.leftmenu_sublist_icon {
    height: 20px;
    width: 13px;
    margin-right: 5px;
    background: url("../images/list_style_image.png") no-repeat 50% 50%;
}
.accordion > li {
    margin-bottom: 2px;
    background-color: #f3f2f0;
}
.accordion > li > a,
.accordion-heading a {
    display: block;
    height: 32px;
    padding-left: 18px;
    line-height: 32px;
    vertical-align: middle;
    text-decoration: underline;
    color: #4f4f4f;
}
.accordion-body {
    padding-left: 16px;
    background-color: #f8f8f8;
}
.accordion-body a {
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #8c8c8c;
}
.pointed {
    background-color: #ed6d3b;
}
.accordion-heading a.pointed {
    color: #fff;
}
.accordion > li:hover > a,
.accordion-group:hover .accordion-heading {
    background-color: #ed6d3b;
}
.accordion > li:hover > a,
.accordion-group:hover > div > a {
    color: #fff;
}
.main_leftmenu_news {
    width: 210px;
    padding: 10px 0 35px 0;
}
.leftmenu_news_element {
    margin-top: 20px;
}
.news_element_title a {
    color: #4f4f4f;
}
.news_element_date, .news_element_content {
    color: #898989;
    font-size: 13px;
}
.main_leftmenu_button {
    position: relative;
}
.main_leftmenu_button input {
    cursor: pointer;
    width: 210px;
    height: 48px;
    background-color: #ed6d3b;
    color: #fff;
    font-size: 20px;
    text-align: left;
    padding-left: 24px;
    border: 1px solid #ed6d3b;
    border-radius: 2px;
}
.leftmenu_button_icon {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 24px;
    width: 16px;
    height: 16px;
    background: url("../images/pensil.png") no-repeat 50% 50%;
}
.leftmenu_advertising_element {
    margin-top: 30px;
    width: 210px;
    height: 245px;
    background-color: #bdbdbd;
}

.main_content {
    float: left;
    padding-left: 32px;
}
.main_content_navigation {
    margin-bottom: 12px;
}
.main_content_navigation a,
.navigation_arrow {
    display: inline-block;
    margin-right: 8px;
}
.main_content_navigation a {
    color: #e27d55;
}
.navigation_arrow {
    width: 8px;
    height: 5px;
    padding-bottom: 14px;
    background: url("../images/navigation_arrow.png") no-repeat 50% 85%;
}
.main_content_navigation span {
    color: #8c8c8c;
}
.mcontent_header_categories {
    box-sizing: border-box;
    position: relative;
    width: 642px;
    height: auto;
    background-color: #4f4f4f;
}
.show_categories {
    display: inline-block;
    float: left;
    width: 72px;
    min-height: 50px;
    height: 100%;
    margin: 8px 0 0 14px;
    color: #fff;
}
.categories {
   padding: 8px 0 4px 0;
}
.category {
    display: inline-block;
    margin-bottom: 6px;
    padding: 2px 6px;
    color: #4f4f4f;
    cursor: pointer;
    background: linear-gradient(to top, #d9d9d9, #fff);
}
.plus_category {
    display: inline-block;
    margin: 10px 0 0 4px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url("../images/navigation_plus.png") no-repeat;
}
.mcontent_header_sort {
    margin-top: 14px;
    color: #8c8c8c;
}
.mcontent_header_sort .active {
    background-color: #eeeeee;
    text-decoration: none;
}
.sort_filter {
    display: inline-block;
    padding: 2px;
    margin-right: 2px;
    cursor: pointer;
    text-decoration: underline;
}
.navigation_arrow_up,
.navigation_arrow_down {
    display: inline-block;
    width: 5px;
    height: 8px;
    opacity: 0.5;
}
.navigation_arrow_up {
    background: url("../images/arrow_up.png") no-repeat;
}
.navigation_arrow_down {
    background: url("../images/arrow_down.png") no-repeat;
}
.main_goods {
    width: 657px;
    margin-top: 10px;
    font-size: 0;
    background-color: #fff;
}
.main_goods_element {
    display: inline-block;
    width: 214px;
    height: 242px;
}
.goods_element_image {
    position: relative;
    width: 208px;
    height: 166px;
    cursor: pointer;
}
.goods_element_title {
    width: 196px;
    margin: 10px auto 0 auto;
}
.goods_element_title a {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #e27d55;
}
.good_price {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 108px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #4f4f4f;
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
}
.main_pages {
    margin-top: 20px;
    margin-left: 16px;
    color: #4f4f4f;
}
.main_pages_list {
    display: inline-block;
    margin-left: 16px;
}
.main_pages_list li {
    display: inline-block;
}
.main_pages_list a {
    display: block;
    width: 19px;
    height: 19px;
    text-align: center;
    color: #4f4f4f;
}
a.selected {
    border: 1px solid #da896a;
    border-radius: 1px;
    background: linear-gradient(to top, #ee733c, #ffac68);
    color: #e3e3e3;
    text-decoration: none;
}
.list_dots {
    margin: 0 10px;
}
.main_pages_switch,
.previous_page,
.next_page,
.previous_page_icon,
.next_page_icon {
    display: inline-block;
}
.main_pages_switch {
    float: right;
}
.main_pages_switch a {
    color: #4f4f4f;
}
.previous_page_icon {
    width: 8px;
    height: 5px;
    background: url("../images/left_arrow.png");
}
.next_page_icon {
    width: 8px;
    height: 5px;
    background: url("../images/navigation_arrow.png");
}
.main_about {
    width: 658px;
    margin-top: 60px;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.main_about a {
    color: #e27d55;
}
.main_bottom_menu {
    height: 48px;
    margin-top: 8px;
    width: 960px;
    padding: 15px 0 15px 31px;
}
.main_bottom_menu li {
    display: inline-block;
    margin-right: 20px;
}
.main_bottom_menu a {
    color: #747474;
}

                        /*CSS for footer*/

footer {
    margin-top: 15px;
    margin-bottom: 60px;
    color: #747474;
}
footer div {
    display: inline-block;
}
.footer_info {
    margin-left: 28px;
    margin-right: 40px;
}
.footer_info div {
    display: block;
}
footer a {
    color: #747474;
}
.rights {
    color: #5e5e5e;
}
.footer_counters {
    position: relative;
    top: -31px;
}
.footer_counter {
    display: inline-block;
    width: 88px;
    height: 31px;
    margin-right: 10px;
    background: url("../images/counter.png");
}
.footer_author {
    float: right;
    margin-right: 34px;
}
.footer_author div {
    display: block;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}