<div class="main_content_header">
    <div class="main_content_navigation">
        <a href="#index">Главная</a>
        <div class="navigation_arrow"></div>
        <span>Корзина</span>
    </div>
</div>
<form>
    <table class="main_content_table table table-hover">
        <thead>
        <tr>
            <th class="table_col_art">Арт.</th>
            <th class="table_col_good">Наименование товара</th>
            <th class="table_col_price">Цена</th>
            <th class="table_col_numberof">Колличество</th>
            <th class="table_col_cost">Стоимость</th>
            <th class="del_row"></th>
        </tr>
        </thead>
        <tbody>
        {{#goods}}
            <tr>
                <td class="table_col_art">{{id}}</td>
                <td class="table_col_good">{{title}}</td>
                <td class="table_col_price">{{price}} р.</td>
                <td class="table_col_numberof">
                    <a class="table_numberof_minus">-</a>
                    <input type="text" value="{{numberOf}}" size="2" disabled>
                    <a class="table_numberof_plus">+</a>
                </td>
                <td class="table_col_cost">
                    <input type="text" value="" size="8" disabled>
                </td>
                <td class="del_row">
                    <i class="icon del_row_icon"></i>
                </td>
            </tr>
        {{/goods}}
            <tr class="table_summary">
                <td colspan="2">Итого:</td>
                <td></td>
                <td class="col_total_numberof">
                    <input class="total_numberof" type="text" value="" size="2" disabled>
                </td>
                <td>
                    <input class="total_price" type="text" value="" size="7" disabled>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<a href="#order">
    <button class="btn btn-primary">Оформить заказ</button>
</a>