<div class="main_content_header">
    <div class="main_content_navigation">
        <a href="#index">Главная</a>
        <div class="navigation_arrow"></div>
        <a href="#index">Каталог</a>
        <div class="navigation_arrow"></div>
        <a href="#">Автомодели</a>
        <div class="navigation_arrow"></div>
        <a href="#">Быстрые</a>
        <div class="navigation_arrow"></div>
        <span>Cyclone D4</span>
    </div>
</div>
<div class="main_content_top">
    <div class="content_top_left">
        <div id="Carousel" class="top_left_carousel carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#" data-toggle="modal" class="carousel_inner_prev">
                        <img src="../assets/images/model1/big1.png">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" class="carousel_inner_prev">
                        <img src="../assets/images/model1/big2.png">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" class="carousel_inner_prev">
                        <img src="../assets/images/model1/big3.png">
                    </a>
                </div>
                <div class="item">
                    <a href="#" data-toggle="modal" class="carousel_inner_prev">
                        <img src="../assets/images/model1/big4.png">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#Carousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#Carousel" data-slide="next">›</a>
        </div>
        <div class="top_left_thumbnails">
            <div id="littleCarousel" class="top_left_littlecarousel carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="0">
                                    <img src="../assets/images/model1/big1.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="1">
                                    <img src="../assets/images/model1/big2.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="2">
                                    <img src="../assets/images/model1/big3.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="1">
                                    <img src="../assets/images/model1/big2.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="2">
                                    <img src="../assets/images/model1/big3.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="3">
                                    <img src="../assets/images/model1/big4.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="2">
                                    <img src="../assets/images/model1/big3.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="3">
                                    <img src="../assets/images/model1/big4.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="0">
                                    <img src="../assets/images/model1/big1.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="3">
                                    <img src="../assets/images/model1/big4.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="0">
                                    <img src="../assets/images/model1/big1.png">
                                </a>
                            </li>
                            <li>
                                <a class="thumbnail" href="#Carousel" data-slide-to="1">
                                    <img src="../assets/images/model1/big2.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="left carousel-control" href="#littleCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#littleCarousel" data-slide="next">›</a>
            </div>
        </div>
    </div>
    <div class="content_top_right">
        <div class="top_right_title">
            <span>CYCLONE D4 WORLD CHAMPIONSHIP EDITION KIT</span>
        </div>
        <hr class="divider">
        <div class="right_short_description">
            <div>Производитель: Cyclone</div>
            <div>Модель: 30861T4B</div>
            <div>Наличие: <b>В наличии</b></div>
        </div>
        <hr class="divider">
        <div class="top_right_button">
            <div class="button_price">
                <span>18,480 р.</span>
            </div>
            <button class="buy_button">купить</button>
        </div>
        <hr class="divider">
        <div class="top_right_share">
            <div class="share_to_friends">Поделиться с друзьями</div>
            <ul>
                <li>
                    <a class="share_vk" href="#">
                        <i class="icon vk_icon"></i>
                    </a>
                </li>
                <li>
                    <a class="share_fb" href="#">
                        <i class="icon fb_icon"></i>
                    </a>
                </li>
                <li>
                    <a class="share_tweet" href="#">
                        <i class="icon tweet_icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top_right_links">
            <ul>
                <li>
                    <i class="icon right_links_list"></i>
                    <a href="#">Задать вопрос по товару</a>
                </li>
                <li>
                    <i class="icon right_links_list"></i>
                    <a href="#">Доставка и гарантия</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main_content_description">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#description" data-toggle="tab">Описание</a>
        </li>
        <li>
            <a href="#specifications" data-toggle="tab">Технические характеристики</a>
        </li>
        <li>
            <a href="#comments" data-toggle="tab">Отзывы</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="description">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            <p></p>
        </div>
        <div class="tab-pane" id="specifications">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur
                a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="tab-pane" id="comments">
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
                sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
    </div>
</div>